<div class="userPartials">
  <label>Nome:{{this.nome}}</label>
  <label>Modelo:{{this.modelo}}</label>
  <label>Motor:{{this.motor}}</label>
  <label>Ano:{{this.ano}}</label>
  <label>Fab:{{this.fab}}</label>
  <label>Vlr:{{this.vlr}}</label>
  <label>Cor:{{this.cor}}</label>
  <label>Opc:{{this.opc}}</label>

</div>
